In [5]:
# Part 2: Data Cleaning and Exploration
df1['start_time'] = pd.to_datetime(df1['start_time'], dayfirst=True)
df1['rat_period_start'] = pd.to_datetime(df1['rat_period_start'], dayfirst=True)
df1['rat_period_end'] = pd.to_datetime(df1['rat_period_end'], dayfirst=True)
df2['time'] = pd.to_datetime(df2['time'], dayfirst=True)

df_merged = pd.merge_asof(df1.sort_values('start_time'), df2.sort_values('time'),
                          left_on='start_time', right_on='time', direction='nearest')

print("\n--- Data Cleaning and Merging Complete ---")
print("\nMerged DataFrame Info:")
df_merged.info()
print("\nMerged DataFrame Head:")
print(df_merged.head())

--- Data Cleaning and Merging Complete ---

Merged DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   start_time                 907 non-null    datetime64[ns]
 1   bat_landing_to_food        907 non-null    float64
 2   habit                      866 non-null    object
 3   rat_period_start           907 non-null    datetime64[ns]
 4   rat_period_end             907 non-null    datetime64[ns]
 5   seconds_after_rat_arrival  907 non-null    int64
 6   risk                       907 non-null    int64
 7   reward                     907 non-null    int64
 8   month_x                    907 non-null    int64
 9   sunset_time                907 non-null    object
 10  hours_after_sunset_x       907 non-null    float64
 11  season                     907 non-null    int64
 12  time                       907 non-null    datetime64[ns]
 13  month_y                    907 non-null    int64
 14  hours_after_sunset_y       907 non-null    float64
 15  bat_landing_number         907 non-null    int64
 16  food_availability          907 non-null    float64
 17  rat_minutes                907 non-null    float64
 18  rat_arrival_number         907 non-null    int64
dtypes: datetime64[ns](4), float64(5), int64(8), object(2)
memory usage: 134.8+ KB

Merged DataFrame Head:
           start_time  bat_landing_to_food habit    rat_period_start  \
0 2017-12-26 20:57:00                  1.0   NaN 2017-12-26 20:53:00
1 2017-12-26 20:57:00                  5.0   NaN 2017-12-26 20:53:00
2 2017-12-26 21:24:00                  3.0  fast 2017-12-26 21:22:00
3 2017-12-26 21:24:00                 15.0   rat 2017-12-26 21:22:00
4 2017-12-26 21:24:00                  6.0  pick 2017-12-26 21:22:00

       rat_period_end  seconds_after_rat_arrival  risk  reward  month_x  \
0 2017-12-26 20:58:00                        239     0       0        0
1 2017-12-26 20:58:00                        199     0       0        0
2 2017-12-26 21:27:00                        121     0       1        0
3 2017-12-26 21:27:00                         88     1       0        0
4 2017-12-26 21:27:00                        113     0       1        0

        sunset_time  hours_after_sunset_x  season                time  \
0  26/12/2017 16:43              4.248611       0 2017-12-26 20:43:00
1  26/12/2017 16:43              4.237500       0 2017-12-26 20:43:00
2  26/12/2017 16:43              4.693611       0 2017-12-26 21:13:00
3  26/12/2017 16:43              4.684444       0 2017-12-26 21:13:00
4  26/12/2017 16:43              4.691389       0 2017-12-26 21:13:00

   month_y  hours_after_sunset_y  bat_landing_number  food_availability  \
0        0                   4.0                  51           2.968874
1        0                   4.0                  51           2.968874
2        0                   4.5                  53           2.561404
3        0                   4.5                  53           2.561404
4        0                   4.5                  53           2.561404

   rat_minutes  rat_arrival_number
0     1.283333                   2
1     1.283333                   2
2     4.866667                   1
3     4.866667                   1
4     4.866667                   1